* {
	font-family: "Inter", sans-serif;
}

#new-widget {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gray;
	cursor: pointer;
	width: 15rem;
	height: 15rem;
	border-radius: 10px;
	background-color: white;
	border-style: dashed;
	user-select: none;
}

#new-widget > ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

.widget {
	width: 15rem;
	height: 15rem;
	border-width: 3px;
	border-radius: 10px;
	margin-right: 1rem;
	vertical-align: top;
}

.real-widget {
	border-color: rgb(128, 128, 128);
	border-style: solid;
}

#widgets {
	display: flex;
	list-style: none;
	padding-left: 10px;
	gap: 1rem;
	align-items: flex-start;
}

#widgets > li {
	margin: 0;
	padding: 0;
}

#heading {
	padding-left: 10px;
}

#plus-icon {
	width: 2rem;
	height: auto;
}

dialog {
	outline: none;
	max-width: 100vw;
}

#add-widgets {
	outline: none;
	max-width: none;
	width: 80vw;
}

#add-widgets::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

#new-widgets {
	margin: auto;
	padding: auto;
	width: 100%;
	display: flex;
}

input[type="search"] {
	background: url("icons/search.svg") top left no-repeat;
	height: 2rem;
	padding-left: 30px;
	border-radius: 5px;
	outline: none;
	width: 100%;
	display: flex;
	font-size: 20px;
}

#add-widgets-heading {
	margin-top: 0;
}

.widget-icon-wrapper {
	width: 26px;
	height: 26px;
	border-radius: 2px;
	border-style: solid;
	margin-left: 3px;
}

.widget-icon {
	width: 24px;
	height: 24px;
	mask-size: contain;
}

.widget-add-div-name {
	margin-left: 5px;
}

.add-widget-button {
	position: absolute;
	right: 20px;
	height: 28px;
	width: 28px;
	background: url("icons/plus.svg") center no-repeat;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
}

#catpic-image {
	width: 10rem;
	height: auto;
	max-height: 12rem;
	cursor: zoom-in;
}

#catpic-zoom {
	width: fit-content;
	height: fit-content;
	max-width: 90%;
	max-height: 90%;
}

#zoomed-catpic {
	max-width: 90%;
	max-height: 90%;
}
#catpic-zoom::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}
