* {
	font-family: "Inter", sans-serif;
}

#new-widget {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gray;
	cursor: pointer;

	width: 15rem;
	height: 15rem;

	border-radius: 10px;
	background-color: white;
	border-style: dashed;
}

#new-widget > ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

.widget {
	width: 15rem;
	height: 15rem;
	border-width: 3px;
	border-radius: 10px;
	margin-right: 1rem;
	vertical-align: top;
}

.real-widget {
	border-color: rgb(128, 128, 128);
	border-style: solid;
}

#widgets {
	display: flex;
	list-style: none;
	padding-left: 10px;
	gap: 1rem;
	align-items: flex-start;
}

#widgets > li {
	margin: 0;
	padding: 0;
}

#heading {
	padding-left: 10px;
}

#plus-icon {
	width: 2rem;
	height: auto;
}
